---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Jesús Eduardo Hermosilla Díaz</div>
    <div class="py-2">
      <text class="text-lg">
      I’m a physicist pursuing an artificial intelligence Ph.D. in Mexico. Here, I keep a record of my academic odyssey.
      </text>
    </div>
  </div>

</BaseLayout>
