---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} · Built with Astrofy by M. E.
  </div>
</footer>
<style></style>